!!! 5
html(lang='en')
    head
        title ACE in Action
        style(type='text/css', media='screen').
            #editor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            }
    body
        #editor
            | function foo(items) {
            | var x = "All this is syntax highlighted";
            | return x;
            | }
        script(src='javascripts/ace-builds/src-noconflict/ace.js', type='text/javascript', charset='utf-8').
        script.
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.getSession().setMode("ace/mode/javascript");


