!!! 5
html(lang='en')
    head
        title NextCode Challenge
        link(rel='stylesheet' type='text/css' href='stylesheets/main.css')
        link(rel='stylesheet' type='text/css' href='stylesheets/foundation.css')
        link(href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css')
        style(type='text/css', media='screen').
            #editor {
            border-style: solid;
            border-width: 5px;
            border-color: #434343;
            position: absolute;
            top: 15%;
            right: 10%;
            bottom: 0;
            left: 5%;
            height: 75%;
            width: 45%;
            }
            #languageSelect {
            position: absolute;
            top:9%;
            left:20%;
            width: 20%;
            height: 3%;
            }
            #submitBtn {
            position: absolute;
            bottom:5%;
            left:22%;
            width: 10%;
            height: 4%;
            }
    body
        #yay.header
            h1 Code Editor
            h2 September 12, 2013 HEAD-to-HEAD&trade;
        #hello.content
            #editor
                | import java.util.*;
                | import java.io.*;
                | 
                | public class Main {
                |
                |     public static void main (String[] args) throws IOException {
                |           //your code here
                |     }
                | }
            script(src='javascripts/ace-builds/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
            script.
                var currentLanguage = "java";
                var javaString = "import java.util.*\nimport java.io.*;\n\npublic class Main {\n\npublic static void main (String[] args) throws IOException {\n//your code here\n}\n}";
                var cppString = "#include <stdio.h>\n#include <stdlib.h>\n#include <iostream>\n#include <math.h>\n#include <string.h>\n#include <algorithm>\n#include <vector>\n\nusing namespace std;\n\nint main() {\n\n//your code here\n\n}";
                var pythonString = "//no boilerplate, your code goes here";
                var editor = ace.edit("editor");
                editor.setTheme("ace/theme/monokai");
                editor.getSession().setMode("ace/mode/java");
                document.getElementById('editor').style.fontSize = '14px';
                onclickFunction = function() {
                    $.getJSON('/checkprogram.json',
                    { 'program': editor.getSession().getValue(),
                    'problem': 0,
                    'extension': '.py',
                    'player': 1
                    });
                }

                switchLanguage = function(language) {
                    var text = editor.getSession().getValue();
                    if (currentLanguage == 'java') {
                        javaString = text;
                    } else if (currentLanguage == 'cpp') {
                        cppString = text;
                    } else {
                        pythonString = text;
                    }

                    if (language == 'java') {
                        editor.getSession().setMode("ace/mode/java");
                        editor.getSession().setValue(javaString);
                    } else if (language == 'cpp') {
                        editor.getSession().setMode("ace/mode/c_cpp");
                        editor.getSession().setValue(cppString);
                    } else {
                        editor.getSession().setMode("ace/mode/python");
                        editor.getSession().setValue(pythonString);
                    }

                    currentLanguage = language;
                }

            #submitBtn
                button.large.button.expand(type="submit" onclick="onclickFunction();") Submit Code
            #languageSelect
                ul.button-group
                    li <a href="#" class="button" onclick="switchLanguage('java');">Java</a>
                    li <a href="#" class="button" onclick="switchLanguage('cpp');">C++</a>
                    li <a href="#" class="button" onclick="switchLanguage('python');">Python</a>



